.bio-small-stats h4 {
  color: #FFD08A;
  font-size: 10px;
  font-family: 'Courier';
  width: 90%;
  margin-bottom: -13px;
}

.bio-small-stats h3 {
  color: #F2F2F2;
  font-size: 13px;
  margin-bottom: 10px;
}

.bio-small-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 15px;
  padding-left: 15px;
}

.bio-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}