.home {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  grid-template-rows: 1fr 1fr;
  height: 650px;
  max-width: 100%;
  margin-top: 80px;
}

.hero-image {
}

.zeke {
  position: absolute;
  background: transparent;
  width: 80%;
  height: auto;
  right: 0;
  margin-top: 75px;
  z-index: 0;
}

.bosa {
  position: absolute;
  background: transparent;
  width: 60%;
  height: auto;
  right: 0;
  top: 40px;
}

.radial {
  position: absolute;
  background: transparent;
  width: 90%;
  height: auto;
  z-index: 0;
  top: 35px;
  right: 0;
}

.thomas {
  visibility: hidden;
  position: absolute;
}

.hero-text {
  background-color: #333333;
  background-image: linear-gradient(135deg, #E5E5E5, rgba(255, 208, 138, 0.89));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 25px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.349);
  position: absolute;
}

.hero-fantasy {
  margin-left: 10px;
}

.home-text {
  background: transparent;
  position: absolute;
  float: left;
  left: 5px;
  top: 35px;
}

.beige {
  position: absolute;
  color: rgba(255, 208, 138, 0.89);
  background: transparent;
  font-size: 20px;
}

.beige1 {
  margin-left: 25px;
}

.beige2 {
  margin-top: 40px;
  margin-left: 12px;
}

.leaderboard {
  background-color: rgba(88, 88, 88, .2);
  font-family: 'Lato';
  font-weight: 300;
  text-transform: uppercase;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.leaderboard > h1 {
  background: transparent;
  color: rgba(255, 208, 138, 0.89);
  font-size: 18px;
}

.leaderboard > h3 {
  color: #e5e5e5;
  font-size: 14px;
  background: transparent;
}

@media screen and (min-width: 767px) {
  .leaderboard {
    width: 35%;
    height: 230px;
    display: relative;
    margin-left: 30px;
    margin-top: -120px;
    margin-bottom: 20px;
    padding-left: 10px;
    z-index: 2;
  }

  .leaderboard h1 {
    margin-bottom: 25px;
  }

  .leaderboard > h3 {
    font-size: 12px;
  }

  .zeke {
    width: 55%;
    margin-top: 225px;
  }

  .bosa {
    width: 45%;
    margin-top: 85px;
  }

  .thomas {
    position: relative;
    visibility: visible;
    background: transparent;
    bottom: -130px;
    width: 50%;
    height: auto;
    z-index: 0;
    margin-top: 15px;
  }
}