.home {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  grid-template-rows: 1fr 1fr;
  height: 650px;
  max-width: 100%;
  margin-top: 80px;
}

.zeke {
  width: 80%;
  height: auto;
  float: right;
  margin-top: 55px;
}

.hero-text {
  background-color: #333333;
  background-image: linear-gradient(135deg, #E5E5E5, rgba(255, 208, 138, 0.89));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 22px;
}

.home-text {
  background: transparent;
  position: absolute;
  float: left;
  left: 5px;
  top: 25px;
}

.beige {
  color: rgba(255, 208, 138, 0.89);
  background: transparent;
  font-size: 20px;
}

.leaderboard {
  background-color: rgba(88, 88, 88, .2);
  font-family: 'Lato';
  font-weight: 300;
  text-transform: uppercase;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.leaderboard > h1 {
  background: transparent;
  color: rgba(255, 208, 138, 0.89);
  font-size: 18px;
}

.leaderboard > h3 {
  color: #e5e5e5;
  font-size: 14px;
  background: transparent;
}