.home {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  grid-template-rows: 1fr 1fr;
  height: 450px;
  max-width: 100%;
  margin-top: 80px;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.zeke {
  position: absolute;
  background: transparent;
  width: 80%;
  height: auto;
  right: 0;
  margin-top: 75px;
  z-index: 1;
}

.bosa {
  position: absolute;
  background: transparent;
  width: 60%;
  height: auto;
  right: 0;
  top: 40px;
}

.radial {
  position: absolute;
  background: transparent;
  width: 90%;
  height: auto;
  z-index: 0;
  top: 35px;
  right: 0;
}

.thomas {
  visibility: hidden;
  position: absolute;
}

.hero-text {
  background-color: #333333;
  background-image: linear-gradient(135deg, #E5E5E5, rgba(255, 208, 138, 0.301));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 25px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.349);
}

.hero-fantasy {
  margin-left: 10px;
}

.home-text {
  background: transparent;
  position: absolute;
  float: left;
  left: 5px;
  top: 35px;
}

.beige {
  position: absolute;
  color: rgba(255, 208, 138, 0.89);
  background: transparent;
  font-size: 20px;
}

.beige1 {
  margin-left: 25px;
}

.beige2 {
  margin-top: 10px;
  margin-left: 12px;
}

.leaderboard {
  background-color: rgba(88, 88, 88, .2);
  background-image: none;
  font-family: 'Lato';
  font-weight: 300;
  text-transform: uppercase;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding-left: 15px;
  margin-top: 25px;
}

.leaderboard-stat {
  display: flex;
  background: transparent;
}

.leaderboard h1 {
  background-color: transparent;
  color: #FFD08A;
  font-size: 20px;
  letter-spacing: .07em;
}

.leaderboard h3 {
  color: #ffffff;
  font-size: 14px;
  background: transparent;
}

.leaderboard h4 {
  color: #e5e5e5;
  font-size: 12px;
  background: transparent;
  margin-left: 5px;
  text-transform: none;
}

.button-wrapper {
  background: transparent;
}

.button-wrapper h3 {
  background: transparent;
  margin-top: 290px;
  color: #e5e5e5;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.roster-button {
  margin-top: -5px;
  position: relative;
  left: 36%;
  border: 1px solid #FFD08A;
  border-radius: 20px;
  padding: 3px 20px;
  color: #FFD08A;
  background: transparent;
  font-size: 16px;
}

.roster-button:hover {
  background: #FFD08A;
  color: #333333;
  font-weight: 700;
}

@media screen and (min-width: 374px) {
  .radial {
    top: 25px;
  }
}

@media screen and (min-width: 413px) {
  .radial {
    top: 12px;
  }

  .button-wrapper {
    margin-top: 310px;
  }
}

@media screen and (min-width: 424px) {
  .radial {
    top: 8px;
  }

  .leaderboard {
    margin-top: 20px;
  }

  .button-wrapper h3 {
    margin-top: 320px;
  }
}

@media screen and (min-width: 767px) {
  .leaderboard {
    width: 35%;
    height: 240px;
    display: relative;
    margin-left: 30px;
    margin-top: -120px;
    margin-bottom: 20px;
    padding-left: 10px;
    z-index: 2;
  }

  .leaderboard h1 {
    margin-bottom: 25px;
  }

  .leaderboard h3 {
    font-size: 12px;
    margin-top: 16px;
  }

  .leaderboard-stat {
    margin-bottom: -5px;
  }

  .home-text {
    top: 95px;
  }

  .beige {
    font-size: 45px;
  }

  .beige1 {
    margin-left: 65px;
  }

  .beige2 {
    margin-top: -10px;
    margin-left: 55px;
  }

  .hero-text {
    font-size: 75px;
  }

  .zeke {
    width: 55%;
    margin-top: 225px;
  }

  .bosa {
    width: 45%;
    margin-top: 85px;
  }

  .thomas {
    position: relative;
    visibility: visible;
    background: transparent;
    bottom: -145px;
    width: 60%;
    height: auto;
    z-index: 0;
    margin-top: 15px;
  }

  .radial {
    top: 95px;
    width: 65%;
  }

  .button-wrapper {
    position: absolute;
    top: 120px;
    right: 45px;
  }

  .button-wrapper h3 {
    font-weight: 500;
    font-size: 32px;
  }

  .roster-button {
    margin-top: -10px;
    position: relative;
    left: 31%;
    border: 1px solid #FFD08A;
    border-radius: 20px;
    padding: 8px 30px;
    color: #FFD08A;
    background: transparent;
    font-size: 16px;
  }
}

@media screen and (min-width: 1023px) {
  .zeke {
    width: 53%;
    margin-top: 310px;
  }

  .button-wrapper {
    top: 300px;
  }

  .beige {
    font-size: 65px;
  }

  .hero-text {
    font-size: 95px;
  }

  .hero-fantasy {
    margin-top: 45px;
  }

  .leaderboard {
    height: 280px;
  }

  .leaderboard h3 {
    font-size: 16px;
  }

  .leaderboard h4 {
    font-size: 14px;
  }
}

@media screen and (min-width: 1439px) {
  .zeke {
    margin-top: 400px;
  }

  .radial {
    top: 70px;
  }

  .button-wrapper {
    top: 740px;
  }

  .button-wrapper h3 {
    font-size: 45px;
  }
}