.podcast-art {
  position: relative;
  top: 35px;
  text-align: center;
  margin-bottom: 75px;
  margin-top: 15px;
  background: transparent;
}

.podcast-image {
  position: relative;
  width: 75%;
  height: auto;
  padding: 15px;
  border: 1px solid #FFD08A;
  border-radius: 10px;
}

.podcast > h2 {
  text-align: center;
  color: #F2F2F2;
  font-family: 'Rockwell';
  font-weight: 400;
  letter-spacing: .05em;
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 75px;
}

.podcast-player {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.color-block {
  position: absolute;
  background-color: #FFD08A;
  margin-top: 115px;
  height: 125px;
  width: 100%;
}

.social-icon {
  width: 15%;
  height: auto;
  margin: 15px;
}

.social-icons {
  text-align: center;
}

@media screen and (min-width: 767px) {
  .podcast-image {
    width: 55%;
  }

  .color-block {
    margin-top: 145px;
    height: 155px;
  }

  .social-icon {
    width: 8%;
    margin: 25px;
  }

  .podcast-player {
    width: 90%;
  }

}

@media screen and (min-width: 1023px) {
  .laptop-wrapper {
    margin-top: 65px;
    border-top: 1px solid #FFD08A;
    border-bottom: 1px solid #FFD08A;
    padding: 35px 0;
  }

  .podcast-art {
    width: 63%;
    margin-left: -70px;
  }

  .podcast-player {
    width: 40%;
    margin-left: -35px;
    margin-top: 45px;
  }

  .laptop-wrapper {
    display: flex;
    flex-direction: row;
  }

  .color-block {
    margin-top: 190px;
    height: 200px;
  }

  .social-icons {
    margin-top: 95px;
  }

  .social-icon {
    width: 5%;
  }
}

@media screen and (min-width: 1439px) {
  .podcast-art {
    width: 45%;
    margin-left: 55px;
  }

  .social-icon {
    width: 3%;
  }
}