.roster-list {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 150px;
  height: auto;
  width: 90%;
  border: 1px solid #FFD08A;
  padding-bottom: 20px;
  text-align: center;
}

.roster-list h2 {
  font-family: 'Lato';
  font-size: 28px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  background-color: #FFD08A;
  padding: 10px;
}

.player-wrapper {
  position: relative;
  top: 50px;
  text-align: center;
}

.player-info {
  display: relative;
  border: 1px solid #FFD08A;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 300px;
  margin-bottom: 20px;
}

.manager-list {
  background: transparent;
}

.manager-list ul {
  list-style: none;
  background: transparent;
}

.manager-list li {
  margin-bottom: 15px;
  background: rgba(122, 122, 122, .21);
  border-radius: 8px;
  padding: 15px 0;
  width: 80%;
}

.manager-list img {
  width: 55%;
  height: auto;
  background: transparent;
}

@media screen and (min-width: 424px) {
  .roster-list {
    width: 80%;
  }
}

@media screen and (min-width: 767px) {
  .roster-list {
    width: 40%;
  }
}

@media screen and (min-width: 1023px) {
  .roster-list {
    width: 30%;
  }
}

@media screen and (min-width: 1439px) {
  .roster-list {
    width: 25%;
  }
}