.roster-list {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 150px;
  height: 400px;
  width: 90%;
  border: 1px solid #FFD08A;
}

.player-wrapper {
  position: relative;
  top: 50px;
  text-align: center;
}

.player-image {
  width: 90%;
  height: auto;
}

.player-info {
  display: relative;
  border: 1px solid #FFD08A;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 300px;
  margin-bottom: 20px;
}