.player-name {
  position: relative;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  bottom: 37px;
  height: auto;
  border: 1px solid #FFD08A;
  border-radius: 5px;
  font-size: 1.1em;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #F2F2F2;
  background-color: rgba(255, 208, 138, .13);
  padding: 5px 0;
}

.player-title {
  font-family: 'Courier';
  font-size: 1.4em;
  color: #F2F2F2;
  text-align: center;
}

.carousel__dot-group {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel__dot {
  margin: 3px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
}

.carousel__dot:active, .carousel__dot:hover {
  background-color: transparent;
}

.carousel {
  height: 450px;
  display: relative;
}

.player-info {
  height: 500px;
}