.player-name {
  position: relative;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  bottom: 37px;
  height: auto;
  border: 1px solid #FFD08A;
  border-radius: 5px;
  font-size: 1.1em;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #F2F2F2;
  background-color: rgba(255, 208, 138, .13);
  padding: 5px 0;
}

.player-title {
  font-family: 'Courier';
  font-size: 1.4em;
  color: #F2F2F2;
  text-align: center;
  background-color: #c5a16b9a;
}

.carousel__dot-group {
  background-color: transparent;
  position: relative;
  margin-top: 110px;
  margin-left: 37%;
}

.carousel__dot {
  margin: 3px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
  
}

.carousel__dot:active, .carousel__dot:hover {
  background-color: transparent;
}

.carousel {
  height: 450px;
  display: relative;
}

.player-info {
  height: 500px;
}

.bio-small-stats {
  height: 300px;
}

@media screen and (min-width: 374px) {
  .carousel__dot-group {
    margin-top: 60px;
    margin-left: 39%;
  }

  .player-name {
    margin-top: -7px;
  }
}

@media screen and (min-width: 424px) {
  .carousel__dot-group {
    margin-top: 40px;
    margin-left: 40%;
  }

  .player-name {
    margin-top: -12px;
  }
}

@media screen and (min-width: 767px) {
  .roster-profile {
    display: flex;
    flex-direction: row;
  }

  .player-info {
    margin-right: 30px;
  }

  .player-image {
    width: 100%;
    height: auto;
    margin-top: 45px;
  }

  .player-name {
    margin-top: -16px;
  }
}

@media screen and (min-width: 1023px) {
  .carousel__dot-group {
    margin-top: -10px;
  }

  .player-info {
    width: 52%;
    height: 550px;
    margin-top: 95px;
    margin-right: 65px;
  }

  .player-image {
    margin-top: 20px;
  }

  .player-name {
    margin-top: -35px;
  }
}

@media screen and (min-width: 1439px) {
  .player-info {
    width: 30%;
    height: 625px;
    margin-right: 170px;
  }

  .player-wrapper {
    margin-left: 65px;
  }

  .player-image {
    width: 75%;
  }

  .carousel__dot-group {
    margin-top: 50px;
    margin-left: 42%;
  }

  .player-name {
    width: 55%;
  }
}