.stats-wrapper {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.stats-text {
  text-align: center;
  background: transparent;
}

.stats-wrapper h4 {
  color: #FFD08A;
  font-size: 14px;
  font-family: 'Courier';
  margin-bottom: -15px;
}

.stats-wrapper h3 {
  color: #f2f2f2;
  font-size: 15px;
  margin-bottom: 5px;
}

.stats-flex-row {
  display: inline-flex;
  flex-direction: row;
}

.stats-flex-row h4 {
  margin-right: 5px;
}

.wins-losses {
  display: flex;
  flex-direction: row;
  margin-left: 33%;
}

.points-scored h3, h4 {
  background: transparent;
}

.points-against h3, h4 {
  background: transparent;
}

.stats-wins {
  margin-right: 15px;
}

@media screen and (min-width: 1023px) {
  .wins-losses {
    margin-left: 36%;
  }
}