.stats-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stats-wrapper h4 {
  color: #FFD08A;
  font-size: 14px;
  font-family: 'Courier';
  margin-bottom: -15px;
}

.stats-wrapper h3 {
  color: #f2f2f2;
  font-size: 15px;
  margin-bottom: 5px;
}

.stats-flex-row {
  display: inline-flex;
  flex-direction: row;
}

.stats-flex-row h4 {
  margin-right: 5px;
}

.wins-losses {
  display: flex;
  flex-direction: row;
  margin-left: 33%;
}

.stats-wins {
  margin-right: 15px;
}